/***********************************************************************
 WINDOW BUTTONS
***********************************************************************/
/* better positioning on window buttons */
.linux .window-buttongroup {margin-top: 7px;}
.linux.alt .window-buttongroup {margin-top: 6px;}
.linux .maximized .window-buttongroup {margin: initial;}
.linux #browser:not(.tabs-top) .window-buttongroup {margin-top: 4px;}
.linux #browser:not(.tabs-top).address-off .window-buttongroup,
.linux #browser:not(.tabs-top).address-bottom .window-buttongroup {margin-top: -1px;}
/* .linux .window-minimize {margin-right: 5px !important;} */
.linux .window-maximize {margin-left: 14px !important;}
.linux .window-close {
    margin-left: 13px !important;
    margin-right: 4px !important;
}
.linux.alt .window-maximize {margin-left: -45px !important;}
.linux.alt .window-close {
    margin-left: 3px !important;
    margin-right: 41px !important;
}
/* remove background on window buttons */
#browser .window-buttongroup button {
    width: 16px;
    background-color: rgba(0,0,0,0) !important;
    zoom: 0.75;
}
.window-buttongroup button:hover {background-color: rgba(0,0,0,0) !important;}
.window-buttongroup button:active {background-color: rgba(0,0,0,0) !important;}
.isblurred #browser .window-buttongroup img {opacity: 0.3;}
/* hide default window buttons svgs */
.window-buttongroup svg {display: none;}
/* apply arc window buttons */
/* minimize */
.window-minimize {background: url('arc/titlebutton-minimize.png') no-repeat;}
/* maximize */
.window-maximize {background: url('arc/titlebutton-maximize.png') no-repeat;}
/* close */
.window-close {background: url('arc/titlebutton-close.png') no-repeat;}
/* on hover */
.window-minimize:hover {background: url('arc/titlebutton-minimize-hover.png') no-repeat !important;}
.window-maximize:hover {background: url('arc/titlebutton-maximize-hover.png') no-repeat !important;}
.window-close:hover {background: url('arc/titlebutton-close-hover.png') no-repeat !important;}
/* on hover:active */
.window-minimize:hover:active {background: url('arc/titlebutton-minimize-active.png') no-repeat !important;}
.window-maximize:hover:active {background: url('arc/titlebutton-maximize-active.png') no-repeat !important;}
.window-close:hover:active {background: url('arc/titlebutton-close-active.png') no-repeat !important;}
/* on dark theme */
.acc-dark.color-behind-tabs-on .window-minimize,.theme-dark .window-minimize {background: url('arc/titlebutton-minimize-dark.png') no-repeat;}
.acc-dark.color-behind-tabs-on .window-maximize,.theme-dark .window-maximize {background: url('arc/titlebutton-maximize-dark.png') no-repeat;}
.acc-dark.color-behind-tabs-on .window-close,.theme-dark .window-close {background: url('arc/titlebutton-close-dark.png') no-repeat;}
/* on dark theme:hover */
.acc-dark.color-behind-tabs-on .window-minimize:hover,.theme-dark .window-minimize:hover {background: url('arc/titlebutton-minimize-hover-dark.png') no-repeat !important;}
.acc-dark.color-behind-tabs-on .window-maximize:hover,.theme-dark .window-maximize:hover {background: url('arc/titlebutton-maximize-hover-dark.png') no-repeat !important;}
.acc-dark.color-behind-tabs-on .window-close:hover,.theme-dark .window-close:hover {background: url('arc/titlebutton-close-hover-dark.png') no-repeat !important;}
/* on dark theme:hover:active */
.acc-dark.color-behind-tabs-on .window-minimize:hover:active,.theme-dark .window-minimize:hover:active {background: url('arc/titlebutton-minimize-active-dark.png') no-repeat !important;}
.acc-dark.color-behind-tabs-on .window-maximize:hover:active,.theme-dark .window-maximize:hover:active {background: url('arc/titlebutton-maximize-active-dark.png') no-repeat !important;}
.acc-dark.color-behind-tabs-on .window-close:hover:active,.theme-dark .window-close:hover:active {background: url('arc/titlebutton-close-active-dark.png') no-repeat !important;}
/* on light theme dark accent behind tabs */
#browser:not(.tabs-top).acc-dark.color-behind-tabs-on .window-minimize {background: url('arc/titlebutton-minimize.png') no-repeat !important;}
#browser:not(.tabs-top).acc-dark.color-behind-tabs-on .window-maximize {background: url('arc/titlebutton-maximize.png') no-repeat !important;}
#browser:not(.tabs-top).acc-dark.color-behind-tabs-on .window-close {background: url('arc/titlebutton-close.png') no-repeat !important;}
/* on light theme dark accent behind tabs:hover */
#browser:not(.tabs-top).acc-dark.color-behind-tabs-on .window-minimize:hover {background: url('arc/titlebutton-minimize-hover.png') no-repeat !important;}
#browser:not(.tabs-top).acc-dark.color-behind-tabs-on .window-maximize:hover {background: url('arc/titlebutton-maximize-hover.png') no-repeat !important;}
#browser:not(.tabs-top).acc-dark.color-behind-tabs-on .window-close:hover {background: url('arc/titlebutton-close-hover.png') no-repeat !important;}
/* on light theme dark accent behind tabs:hover:active */
#browser:not(.tabs-top).acc-dark.color-behind-tabs-on .window-minimize:hover:active {background: url('arc/titlebutton-minimize-active.png') no-repeat !important;}
#browser:not(.tabs-top).acc-dark.color-behind-tabs-on .window-maximize:hover:active {background: url('arc/titlebutton-maximize-active.png') no-repeat !important;}
#browser:not(.tabs-top).acc-dark.color-behind-tabs-on .window-close:hover:active {background: url('arc/titlebutton-close-active.png') no-repeat !important;}
/* on inactive window:base */
.isblurred .window-minimize {background: url('arc/titlebutton-minimize-backdrop.png') no-repeat;}
.isblurred .window-maximize {background: url('arc/titlebutton-maximize-backdrop.png') no-repeat;}
.isblurred .window-close {background: url('arc/titlebutton-close-backdrop.png') no-repeat;}
/* on inactive window:dark */
.acc-dark.isblurred .window-minimize,.theme-dark.isblurred .window-minimize {background: url('arc/titlebutton-minimize-backdrop-dark.png') no-repeat;}
.acc-dark.isblurred .window-maximize,.theme-dark.isblurred .window-maximize {background: url('arc/titlebutton-maximize-backdrop-dark.png') no-repeat;}
.acc-dark.isblurred .window-close,.theme-dark.isblurred .window-close {background: url('arc/titlebutton-close-backdrop-dark.png') no-repeat;}
