/* I wrote this CSS to make Vivaldi integrate with
 * the arc theme for Linux, but I have had few issues
 * running it with other themes so far.
 *
 * Author: Tiamarth
 *
 * - tiabusy@gmail.com
 * - https://github.com/Tiamarth
 * - Discord: Tiamarth#6729
 * - http://tiamarth.com/
 *
 * CURRENT VERSION: 4.3.3
 *
 * LICENSE: GNU General Public License v3.0 | https://github.com/Tiamarth/Arc-for-Vivaldi/blob/master/LICENSE
 *
 */
/***********************************************************************
	SPLASH SCREEN / COLOR VARIABLES
***********************************************************************/
body {
	background-color: #2f343f !important;
	--colorArcBorderLight: #d4d5db;
	--colorArcBorderDark: #262a33;
	--colorArcSidebar: #353945;
}

/***********************************************************************
	TAB STRIP TOP
***********************************************************************/
#tabs-container.top {
	background-image: none !important;
	padding-top: 5px !important;
	border-bottom: 1px solid var(--colorArcBorderLight) !important;
}

/* Dark border for Dark theme */
.theme-dark #tabs-container.top {
	border-bottom: 1px solid var(--colorArcBorderDark) !important;
}

/***********************************************************************
	TAB STRIP BOTTOM
***********************************************************************/
#tabs-container.bottom {
	padding-bottom: 5px !important;
	padding-left: 4px;
	padding-right: 4px;
	border-top: 1px solid var(--colorArcBorderLight) !important;
}

/* Dark border for Dark theme */
.theme-dark #tabs-container.bottom {
	border-top: 1px solid var(--colorArcBorderDark) !important;
}

/***********************************************************************
	TABS TOP
***********************************************************************/
/* Border around hover/active tab */
#tabs-container.top .tab-position .tab {
	border: 1px solid transparent;
	border-bottom-width: 0 !important;
}

#tabs-container.top .tab-position .tab:hover,
#tabs-container.top .tab-position .tab.active {
	border: 1px solid var(--colorArcBorderLight);
}

/* Dark border around hover/active tab (Dark theme) */
.theme-dark #tabs-container.top .tab-position .tab:hover,
.theme-dark #tabs-container.top .tab-position .tab.active {
	border: 1px solid var(--colorArcBorderDark);
}

/* Ensure active tab is on top of tab strip border */
#tabs-container.top .tab-position .tab.active {
	margin-bottom: -1px;
}

/***********************************************************************
	TABS BOTTOM
***********************************************************************/
/* Border around hover/active tab */
#tabs-container.bottom .tab-position .tab {
	border: 1px solid transparent;
	border-top-width: 0 !important;
}

#tabs-container.bottom .tab-position .tab:hover,
#tabs-container.bottom .tab-position .tab.active {
	border: 1px solid var(--colorArcBorderLight);
}

/* Dark border around hover/active tab (Dark theme only) */
.theme-dark #tabs-container.bottom .tab-position .tab:hover,
.theme-dark #tabs-container.bottom .tab-position .tab.active {
	border: 1px solid var(--colorArcBorderDark);
}

/* Ensure active tab is on top of tab strip border */
#tabs-container.bottom .tab-position .tab.active {
	margin-top: -1px;
}

/***********************************************************************
	TABS TOP/BOTTOM
***********************************************************************/
/* Tab hover color (Dark theme) */
.theme-dark #tabs-container.top .tab-position .tab:hover:not(.active),
.theme-dark #tabs-container.bottom .tab-position .tab:hover:not(.active) {
	background-color: var(--colorBgAlpha);
}

/* Tab title (right fade and vertical position) */
.tab-position .tab .title {
	-webkit-mask-image: -webkit-linear-gradient(180deg, transparent 8px, #fff 16px);
	margin-top: 1px !important;
}

/***********************************************************************
	TAB STRIP BUTTONS (TRASH/MENU/NEW TAB)
***********************************************************************/
/* Trash button vertical position */
#browser.tabs-top button.button-tabbar.toggle-trash {
	margin-top: -1px !important;
	margin-bottom: 1px !important;
}

#browser.maximized.tabs-top button.button-tabbar.toggle-trash {
	margin-top: -3px !important;
	margin-bottom: 3px !important;
}

/* Vivaldi menu button vertical position */
#browser.address-top:not(.tabs-top) .vivaldi {
	top: 2px;
}

#browser.address-top.tabs-off .vivaldi {
	top: 5.5px;
}

#browser:not(.address-top).tabs-off .vivaldi {
	top: 2px;
}

/* No border radius on new tab button */
.newtab svg {border-radius: 0 !important;}

/***********************************************************************
	TAB STACK INDICATORS
***********************************************************************/
/* Tab stack indicator colors */
.stacks-on .tab-strip .tab .tab-group-indicator .tab-indicator {
	background-color: #88B7F0 !important;
	border-top-left-radius: var(--radiusHalf) !important;
	border-top-right-radius: var(--radiusHalf) !important;
}

.stacks-on .tab-strip .tab .tab-group-indicator .tab-indicator:hover {
	background-color: var(--colorHighlightBg) !important;
}

.stacks-on .tab-strip .tab .tab-group-indicator .tab-indicator.active {
	background-color: var(--colorHighlightBg) !important;
}

/***********************************************************************
	SELECTED TABS
***********************************************************************/
/* Selected tab borders */
.tab-position .tab.marked:after {
	background-color: transparent;
	border-width: 2px;
	border-image: repeating-linear-gradient(-45deg, transparent, transparent 5px, rgba(82, 148, 226, 0.8) 5px, rgba(82, 148, 226, 0.8) 10px) 3;
}

.tab-position .tab .tab-indicator.marked {
	background-image: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) 5px, rgba(82, 148, 226, 0.8) 5px, rgba(82, 148, 226, 0.8) 10px);
}

/***********************************************************************
	ADDRESSBAR TOP
***********************************************************************/
/* Make addressbar same color as header (i.e. darker) if tabs are not on top */
#browser.address-top:not(.tabs-top) .toolbar-addressbar.toolbar {
	background: var(--colorAccentBg);
}

/* Remove thick border under addressbar */
#browser.address-top .toolbar-addressbar.toolbar {
	border-bottom: 1px solid var(--colorArcBorderLight);
}

#browser.theme-dark.address-top .toolbar-addressbar.toolbar {
	border-bottom: 1px solid var(--colorArcBorderDark);
}

.toolbar-addressbar:after {
	display: none !important;
}

/* Merge addressbar top with header if tabs are not on top */
#browser.address-top:not(.tabs-top) #main {
	margin-top: -24px;
}

#browser.address-top:not(.tabs-top) #titlebar {
	z-index: 1;
}

#browser.address-top:not(.tabs-top) .toolbar-addressbar {
	padding: 0 90px 0 40px;
}

#browser.alt.address-top:not(.tabs-top) .toolbar-addressbar {
	padding: 0 40px 0 90px;
}

#browser.address-top:not(.tabs-top) #titlebar #pagetitle {
	display: none;
}

/***********************************************************************
	ADDRESSBAR BOTTOM
***********************************************************************/
/* Make addressbar darker if tabs are not on bottom */
#browser.address-bottom:not(.tabs-bottom) .toolbar-addressbar.toolbar {
	background: var(--colorAccentBg);
}

/***********************************************************************
	ADDRESSBAR FONT SIZE
***********************************************************************/
/* Increase addressbar font size */
input.url.vivaldi-addressfield {
	font-size: 1.05em;
}

.addressfield .addressfield-siteinfo .siteinfo-text {
	font-size: 0.95em;
}

/***********************************************************************
	ADDRESSBAR DROPDOWN
***********************************************************************/
.theme-light .urlSearch {
	background-color: #ffffff;
}

.urlSearch section > div {
	height: 28px;
	font-size: 1.05em;
}

.urlSearch section .url {
	padding-right: 20px;
}

.urlSearch section .url span,
.urlSearch section .url b {
	opacity: 1;
	color: #888888;
}

.urlSearch section .highlight .url span,
.urlSearch section .highlight .url b {
	color: #ffffff;
}

/***********************************************************************
	HEADER
***********************************************************************/
#browser:not(.tabs-top) #header {
	background: var(--colorAccentBg);
}

#browser:not(.address-top):not(.tabs-top) #header {
	border-bottom: 1px solid var(--colorArcBorderLight);
}

#browser.theme-dark:not(.address-top):not(.tabs-top) #header {
	border-bottom: 1px solid var(--colorArcBorderDark);
}

#browser.address-off.tabs-off.bookmark-bar-off #header {
	background-color: var(--colorAccentBg);
	border-bottom: 1px solid var(--colorArcBorderLight);
}

#browser.theme-dark.address-off.tabs-off.bookmark-bar-off #header {
	border-bottom: 1px solid var(--colorArcBorderDark);
}

/***********************************************************************
	PANEL
***********************************************************************/
/* Panel background */
#switch,
#panel_switch {
	background-color: var(--colorArcSidebar);
	box-shadow: none !important;
}

/* Panel buttons */
#switch > button,
#switch .addwebpanel-wrapper > button {
	border: none !important;
	box-shadow: none !important;
}

#switch > button svg,
#switch .addwebpanel-wrapper > button svg,
#panel_switch svg polygon {
	fill: #d3dae3 !important;
}

.theme-dark #switch .webviewbtn img {
	background: transparent !important;
}

#switch > button:hover:not(.active),
#switch .addwebpanel-wrapper > button:hover:not(.active),
#panel_switch:hover {
	background-color: #494D5A;
}

#switch > button:focus:not(.active),
#switch .addwebpanel-wrapper > button:focus:not(.active) {
	background-color: var(--colorArcSidebar) !important;
}

#switch > button.active,
#switch > button.active:hover {
	background-color: var(--colorBgLightIntense) !important;
}

#switch > button.active svg {
	fill: var(--colorFg) !important;
}

/***********************************************************************
	TOOLBAR BUTTONS
***********************************************************************/
/* Remove gray border below toolbars */
.address-top .toolbar-mainbar:after {
	background-color: transparent;
}

/* Toolbar buttons */
.toolbar-mainbar > .button-toolbar > button,
.toolbar-mainbar > .toolbar-group > .button-toolbar > button,
.bookmark-bar button {
	border: 1px solid transparent !important;
	border-radius: 2px;
	font-size: 1.1em;
}

#browser.theme-light .toolbar-mainbar > .button-toolbar > button:hover,
#browser.theme-light .toolbar-mainbar > .toolbar-group > .button-toolbar > button:hover,
#browser.theme-light .bookmark-bar button:hover {
	background: #ffffff !important;
	border-color: #cfd6e6 !important;
}

#browser.theme-dark .toolbar-mainbar > .button-toolbar > button:hover,
#browser.theme-dark .toolbar-mainbar > .toolbar-group > .button-toolbar > button:hover,
#browser.theme-dark .bookmark-bar button:hover {
	background: #505666 !important;
	border-color: #2b2e39 !important;
}

#browser.theme-light .toolbar-mainbar > .button-toolbar > button:active,
#browser.theme-light .toolbar-mainbar > .toolbar-group > .button-toolbar > button:active,
#browser.theme-light .bookmark-bar button:active {
	background: #5294e2 !important;
	border-color: #5294e2 !important;
	color: #ffffff !important;
}

#browser.theme-dark .toolbar-mainbar > .button-toolbar > button:active,
#browser.theme-dark .toolbar-mainbar > .toolbar-group > .button-toolbar > button:active,
#browser.theme-dark .bookmark-bar button:active {
	background: #5294e2 !important;
	border-color: #2b2e39 !important;
	color: #ffffff !important;
}

/* Fix icon color in active addressbar buttons */
.toolbar-mainbar > .button-toolbar > button:active,
.toolbar-mainbar > .toolbar-group > .button-toolbar > button:active {
	fill: white !important;
}

/* Remove highlight on bookmark toolbar separator hover */
.bookmark-bar button:hover:not([title]) {
	background: none !important;
	border-color: transparent !important;
}

/* Fix folder icon color on hover/active states */
#browser.theme-light .bookmark-bar button:hover svg.folder-icon {
	fill: #f0f0f0 !important;
}

#browser.theme-dark .bookmark-bar button:hover svg.folder-icon {
	fill: #596071 !important;
	stroke: #ffffff !important;
}

#browser.theme-light .bookmark-bar button:active svg.folder-icon {
	fill: rgba(246, 246, 246, 0.25) !important;
	stroke: rgb(246, 246, 246) !important;
}

#browser.theme-dark .bookmark-bar button:active svg.folder-icon {
	fill: rgba(246, 246, 246, 0.25) !important;
	stroke: rgb(246, 246, 246) !important;
}

/* Fix icon/text alignment on bookmark toolbar buttons */
.bookmark-bar button img, .bookmark-bar button svg {
	margin: 4px 0 7px;
}

.bookmark-bar button img + span, .bookmark-bar button svg + span {
	margin-bottom: 0px;
}

.bookmark-bar button img + span:empty, .bookmark-bar button svg + span:empty {
	margin-left: 0;
}

/* Hidden extension button background (when expanded) */
.toolbar-mainbar > .button-toolbar.button-temporarily-visible > button,
.toolbar-mainbar > .toolbar-group > .button-toolbar.button-temporarily-visible > button {
	background-color: transparent !important;
}

/* Extension button badges */
.toolbar-extensions .button-badge {
	background-color: rgb(120, 120, 120) !important;
}

/***********************************************************************
	SETTINGS PAGE
***********************************************************************/
/* Category sidebar */
.vivaldi-settings .settings-sidebar {
	color: #d3dae3;
	background: var(--colorArcSidebar) !important;
	box-shadow: none;
}

.vivaldi-settings .settings-sidebar svg {
	fill: #d3dae3;
}

/* Category buttons */
.vivaldi-settings .settings-sidebar .button-category:hover:not(.category-selected) {
	background: #494D5A;
}

.vivaldi-settings .settings-sidebar .button-category.category-selected {
	border-top-color: transparent;
	border-bottom-color: transparent;
	background-color: #5294e2;
	color: #ffffff;
}

.vivaldi-settings .settings-sidebar .button-category.category-selected svg {
	fill: #ffffff;
}

.vivaldi-settings .settings-sidebar .settings-navigation:focus-within .tree-row:not([data-selected]) .button-category.category-selected {
	background: transparent;
	color: #d3dae3;
}

.vivaldi-settings .settings-sidebar .settings-navigation:focus-within .tree-row:not([data-selected]) .button-category.category-selected svg {
	fill: #d3dae3;
}

.vivaldi-settings .settings-sidebar .settings-navigation:focus-within .tree-row:not([data-selected]) .button-category.category-selected:hover {
	background: #494D5A;
}

.vivaldi-settings .settings-sidebar .settings-navigation:focus-within .tree-row[data-selected] .button-category:not(.category-selected) {
	background: #5294e2;
	box-shadow: none;
	border-color: transparent;
	color: #ffffff;
}

.vivaldi-settings .settings-sidebar .settings-navigation:focus-within .tree-row[data-selected] .button-category:not(.category-selected) svg {
	fill: #ffffff;
}

/* Search header */
.vivaldi-settings .settings-sidebar .settings-navigation-header {
	padding: 10px 12px 15px 12px;
}

.settings-search {
	background: #2c303e;
}

.settings-search:not(:focus) {
	border-color: #222734 !important;
}

/***********************************************************************
	START PAGE
***********************************************************************/
/* Start page background */
.startpage {
	background-color: var(--colorBg) !important;
}

/* Start page toolbar */
.startpage-navigation {
	background-color: var(--colorBg) !important;
	min-height: 34px !important;
	box-shadow: none !important;
	border-bottom: 1px solid var(--colorArcBorderLight);
}

.theme-dark .startpage-navigation {
	border-bottom: 1px solid var(--colorArcBorderDark);
}

/* Remove left border in speed dial navigation */
.startpage .startpage-navigation .startpage-navigation-group:last-of-type {
	border-left: none !important;
}

/* Navigation button */
button.button-startpage:hover {
	background-color: var(--colorBgLighter);
	border-color: var(--colorBorderHighlight);
}

button.button-startpage:focus:not([tabindex='-1']) {
	background-color: transparent;
}

/* Remove gradient on active navigation button */
button.button-startpage:after {
	background: none !important;
}

/***********************************************************************
	STATUS INFO OVERLAY
***********************************************************************/
#status_info > span {
	background: #5294e2;
	color: #ffffff;
	border: 0px;
}

#footer #status_info > span {
	color: var(--colorFg);
}

/***********************************************************************
	SCROLLBARS
***********************************************************************/
::-webkit-scrollbar {
	width: 10px !important;
	height: 10px !important;
}

::-webkit-scrollbar-button {
	display: none !important;
}

::-webkit-scrollbar-track {
	background-color: transparent !important;
}

#browser.theme-light ::-webkit-scrollbar-track:vertical { border-left: 1px solid #dcdfe3 !important; }
#browser.theme-light ::-webkit-scrollbar-track:horizontal { border-top: 1px solid #dcdfe3 !important; }
#browser.theme-dark ::-webkit-scrollbar-track:vertical { border-left: 1px solid #2b2e39 !important; }
#browser.theme-dark ::-webkit-scrollbar-track:horizontal { border-top: 1px solid #2b2e39 !important; }
#browser .settings-sidebar ::-webkit-scrollbar-track:vertical { border-left: 1px solid #2b2e39 !important; }
#browser .settings-sidebar ::-webkit-scrollbar-track:horizontal { border-top: 1px solid #2b2e39 !important; }
}

::-webkit-scrollbar-thumb {
	background-clip: padding-box !important;
	border: 2px solid transparent !important;
	-webkit-border-radius: 20px !important;
}

::-webkit-scrollbar-thumb:vertical {
	border-width: 2px 2px 2px 3px !important;
}

::-webkit-scrollbar-thumb:horizontal {
	border-width: 3px 2px 2px 2px !important;
}

#browser.theme-light ::-webkit-scrollbar-thumb { background-color: #cacaca !important; }
#browser.theme-light ::-webkit-scrollbar-thumb:hover { background-color: #bebebe !important; }
#browser.theme-light ::-webkit-scrollbar-thumb:active { background-color: #5294e2 !important; }
#browser.theme-dark ::-webkit-scrollbar-thumb { background-color: #666666 !important; }
#browser.theme-dark ::-webkit-scrollbar-thumb:hover { background-color: #757575 !important; }
#browser.theme-dark ::-webkit-scrollbar-thumb:active { background-color: #5294e2 !important; }
#browser .settings-sidebar ::-webkit-scrollbar-thumb { background-color: #666666 !important; }
#browser .settings-sidebar ::-webkit-scrollbar-thumb:hover { background-color: #757575 !important; }
#browser .settings-sidebar ::-webkit-scrollbar-thumb:active { background-color: #5294e2 !important; }
