/* I wrote this CSS to make Vivaldi integrate with
 * the arc theme for Linux, but I have had few issues
 * running it with other themes so far.
 *
 * Author: Tiamarth
 *
 * - tiabusy@gmail.com
 * - https://github.com/Tiamarth
 * - Discord: Tiamarth#6729
 * - http://tiamarth.com/
 *
 * CURRENT VERSION: 4.3.3
 *
 * LICENSE: GNU General Public License v3.0 | https://github.com/Tiamarth/Arc-for-Vivaldi/blob/master/LICENSE
 *
 */
 /***********************************************************************
  TABS
 ***********************************************************************/
/* Tab strip on top */
#tabs-container.top {
	background-image: none !important;
	box-shadow: inset 0 -1px 0.2px rgba(0,0,0,0.1);
	padding-top: 5px !important;
}

.address-bottom #tabs-container.top, .address-off #tabs-container.top {
	border-bottom-width: 0px;
}

/* Tab strip on bottom */
#tabs-container.bottom {
	box-shadow: inset 0 1px 0.2px rgba(0,0,0,0.1);
	padding-bottom: 5px !important;
}

.address-top #tabs-container.bottom, .address-off #tabs-container.bottom {
	border-top-width: 0px;
}

/* Shadow around active tab (tabs top) */
#tabs-container.top .tab-position .tab {
	border: 1px solid transparent;
	border-bottom-width: 0 !important;
}

#tabs-container.top .tab-position .tab:hover,
#tabs-container.top .tab-position .tab.active {
	border: 1px solid rgba(0,0,0,0.2);
}

/* Shadow around active tab (tabs bottom) */
#tabs-container.bottom .tab-position .tab {
	border: 1px solid transparent;
	border-top-width: 0 !important;
}

#tabs-container.bottom .tab-position .tab:hover,
#tabs-container.bottom .tab-position .tab.active {
	border: 1px solid rgba(0,0,0,0.2);
}
