/* I wrote this CSS to make Vivaldi integrate with
 * the arc theme for Linux, but I have had few issues
 * running it with other themes so far.
 *
 * Author: Tiamarth
 *
 * - tiabusy@gmail.com
 * - https://github.com/Tiamarth
 * - Discord: Tiamarth#6729
 * - http://tiamarth.com/
 *
 * CURRENT VERSION: 4.3.3
 *
 * LICENSE: GNU General Public License v3.0 | https://github.com/Tiamarth/Arc-for-Vivaldi/blob/master/LICENSE
 *
 */
 /***********************************************************************
  SCROLLBARS
 ***********************************************************************/
::-webkit-scrollbar {
	width: 10px !important;
	height: 10px !important;
}

::-webkit-scrollbar-button {
	display: none !important;
}

::-webkit-scrollbar-track {
	background-color: transparent !important;
}

#browser.theme-light ::-webkit-scrollbar-track:vertical { border-left: 1px solid #dcdfe3 !important; }
#browser.theme-light ::-webkit-scrollbar-track:horizontal { border-top: 1px solid #dcdfe3 !important; }
#browser.theme-dark ::-webkit-scrollbar-track:vertical { border-left: 1px solid #2b2e39 !important; }
#browser.theme-dark ::-webkit-scrollbar-track:horizontal { border-top: 1px solid #2b2e39 !important; }

::-webkit-scrollbar-thumb {
	background-clip: padding-box !important;
	border: 2px solid transparent !important;
	-webkit-border-radius: 20px !important;
}

::-webkit-scrollbar-thumb:vertical {
	border-width: 2px 2px 2px 3px !important;
}

::-webkit-scrollbar-thumb:horizontal {
	border-width: 3px 2px 2px 2px !important;
}

#browser.theme-light ::-webkit-scrollbar-thumb { background-color: #cacaca !important; }
#browser.theme-light ::-webkit-scrollbar-thumb:hover { background-color: #bebebe !important; }
#browser.theme-light ::-webkit-scrollbar-thumb:active { background-color: #5294e2 !important; }
#browser.theme-dark ::-webkit-scrollbar-thumb { background-color: #666666 !important; }
#browser.theme-dark ::-webkit-scrollbar-thumb:hover { background-color: #757575 !important; }
#browser.theme-dark ::-webkit-scrollbar-thumb:active { background-color: #5294e2 !important; }

/***********************************************************************
	SPLASH SCREEN
***********************************************************************/
body {
	background-color: #2f343f !important;
}

/***********************************************************************
	TABS
***********************************************************************/
/* Tab strip on top */
#tabs-container.top {
	background-image: none !important;
	padding-top: 5px !important;
	border-bottom: 1px solid #d4d5db !important;
}

.theme-dark #tabs-container.top {
	border-bottom: 1px solid #262a33 !important;
}

/* Tab strip on bottom */
#tabs-container.bottom {
	padding-bottom: 5px !important;
	padding-left: 4px;
	padding-right: 4px;
	border-top: 1px solid #d4d5db !important;
}

.theme-dark #tabs-container.bottom {
	border-top: 1px solid #262a33 !important;
}

/* Border around active tab (tabs top) */
#tabs-container.top .tab-position .tab {
	border: 1px solid transparent;
	border-bottom-width: 0 !important;
}

#tabs-container.top .tab-position .tab:hover,
#tabs-container.top .tab-position .tab.active {
	border: 1px solid #d4d5db;
}

.theme-dark #tabs-container.top .tab-position .tab:hover,
.theme-dark #tabs-container.top .tab-position .tab.active {
	border: 1px solid #262a33;
}

#tabs-container.top .tab-position .tab.active {
	margin-bottom: -1px;
}

/* Border around active tab (tabs bottom) */
#tabs-container.bottom .tab-position .tab {
	border: 1px solid transparent;
	border-top-width: 0 !important;
}

#tabs-container.bottom .tab-position .tab:hover,
#tabs-container.bottom .tab-position .tab.active {
	border: 1px solid #d4d5db;
}

.theme-dark #tabs-container.bottom .tab-position .tab:hover,
.theme-dark #tabs-container.bottom .tab-position .tab.active {
	border: 1px solid #262a33;
}

#tabs-container.bottom .tab-position .tab.active {
	margin-top: -1px;
}

/* Tab trash icon vertical position */
#browser.tabs-top button.button-tabbar.toggle-trash {
	margin-top: -1px !important;
	margin-bottom: 1px !important;
}

#browser.maximized.tabs-top button.button-tabbar.toggle-trash {
	margin-top: -3px !important;
	margin-bottom: 3px !important;
}

/* No border radius on new tab button */
.newtab svg {border-radius: 0 !important;}

/* Tab title (right fade and vertical position) */
.tab-position .tab .title {
	-webkit-mask-image: -webkit-linear-gradient(180deg, transparent 8px, #fff 16px);
	margin-top: 1px !important;
}

/* Tab stack indicators */
.stacks-on .tab-strip .tab .tab-group-indicator .tab-indicator {
	background-color: #88B7F0 !important;
	border-top-left-radius: var(--radiusHalf) !important;
	border-top-right-radius: var(--radiusHalf) !important;
}

.stacks-on .tab-strip .tab .tab-group-indicator .tab-indicator:hover {
	background-color: var(--colorHighlightBg) !important;
}

.stacks-on .tab-strip .tab .tab-group-indicator .tab-indicator.active {
	background-color: var(--colorHighlightBg) !important;
}

/* Selected tab borders */
.tab-position .tab.marked:after {
	background-color: transparent;
	border-width: 2px;
	border-image: repeating-linear-gradient(-45deg, transparent, transparent 5px, rgba(82, 148, 226, 0.8) 5px, rgba(82, 148, 226, 0.8) 10px) 3;
}

.tab-position .tab .tab-indicator.marked {
	background-image: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) 5px, rgba(82, 148, 226, 0.8) 5px, rgba(82, 148, 226, 0.8) 10px);
}

/***********************************************************************
	ADDRESS BAR
***********************************************************************/
/* Address bar top */
#browser.address-top:not(.tabs-top) .toolbar-addressbar.toolbar {
	background: var(--colorAccentBg);
}

/* Remove thick border under address bar (top) */
#browser.address-top .toolbar-addressbar.toolbar {
	border-bottom: 1px solid #d4d5db;
}

#browser.theme-dark.address-top .toolbar-addressbar.toolbar {
	border-bottom: 1px solid #262a33;
}

.toolbar-addressbar:after {
	display: none !important;
}

/* Merge address bar top with header */
#browser.address-top:not(.tabs-top) #main {
	margin-top: -24px;
}

#browser.address-top:not(.tabs-top) #titlebar {
	z-index: 1;
}

#browser.address-top:not(.tabs-top) .toolbar-addressbar {
	padding: 0 90px 0 40px;
}

#browser.alt.address-top:not(.tabs-top) .toolbar-addressbar {
	padding: 0 40px 0 90px;
}

#browser.address-top:not(.tabs-top) #titlebar #pagetitle {
	display: none;
}

/* Address bar bottom */
#browser.address-bottom:not(.tabs-bottom) .toolbar-addressbar.toolbar {
	background: var(--colorAccentBg);
}

/* Address bar + dropdown fonts and colors */
input.url.vivaldi-addressfield {
	font-size: 1.05em;
}

.addressfield .addressfield-siteinfo .siteinfo-text {
	font-size: 0.95em;
}

.theme-light .urlSearch {
	background-color: #ffffff;
}

.urlSearch section > div {
	height: 28px;
	font-size: 1.05em;
}

.urlSearch section .url {
	padding-right: 20px;
}

.urlSearch section .url span,
.urlSearch section .url b {
	opacity: 1;
	color: #888888;
}

.urlSearch section .highlight .url span,
.urlSearch section .highlight .url b {
	color: #ffffff;
}

/***********************************************************************
	HEADER
***********************************************************************/
#browser:not(.tabs-top) #header {
	background: var(--colorAccentBg);
}

#browser:not(.address-top):not(.tabs-top) #header {
	border-bottom: 1px solid #d4d5db;
}

#browser.theme-dark:not(.address-top):not(.tabs-top) #header {
	border-bottom: 1px solid #262a33;
}

#browser.address-off.tabs-off.bookmark-bar-off #header {
	background-color: var(--colorAccentBg);
	border-bottom: 1px solid #d4d5db;
}

/* Vivaldi menu button position */
#browser.address-top:not(.tabs-top) .vivaldi {
	top: 2px;
}

#browser.address-top.tabs-off .vivaldi {
	top: 5.5px;
}

#browser:not(.address-top).tabs-off .vivaldi {
	top: 2px;
}

/***********************************************************************
 PANEL
***********************************************************************/
/* Panel background */
#switch,
#panel_switch {
	background-color: #353945;
	box-shadow: none !important;
}

/* Panel buttons */
#switch > button,
#switch .addwebpanel-wrapper > button {
	border: none !important;
	box-shadow: none !important;
}

#switch > button svg,
#switch .addwebpanel-wrapper > button svg,
#panel_switch svg polygon {
	fill: #d3dae3 !important;
}

.theme-dark #switch .webviewbtn img {
	background: transparent !important;
}

#switch > button:hover:not(.active),
#switch .addwebpanel-wrapper > button:hover:not(.active),
#panel_switch:hover {
	background-color: #494D5A;
}

#switch > button:focus:not(.active),
#switch .addwebpanel-wrapper > button:focus:not(.active) {
	background-color: #353945 !important;
}

#switch > button.active,
#switch > button.active:hover {
	background-color: var(--colorBgLightIntense) !important;
}

#switch > button.active svg {
	fill: var(--colorFg) !important;
}

/***********************************************************************
 TOOLBAR BUTTONS
***********************************************************************/
.button-toolbar,
.bookmark-bar button {
	border: 1px solid transparent !important;
	border-radius: 2px;
	font-size: 1.05em;
}

#browser.theme-light .button-toolbar:hover,
#browser.theme-light .bookmark-bar button:hover {
	background: #ffffff !important;
	border-color: #cfd6e6 !important;
}

#browser.theme-dark .button-toolbar:hover,
#browser.theme-dark .bookmark-bar button:hover {
	background: #505666 !important;
	border-color: #2b2e39 !important;
}

#browser.theme-light .button-toolbar:active,
#browser.theme-light .bookmark-bar button:active {
	background: #5294e2 !important;
	border-color: #5294e2 !important;
	color: #ffffff !important;
}

#browser.theme-dark .button-toolbar:active,
#browser.theme-dark .bookmark-bar button:active {
	background: #5294e2 !important;
	border-color: 2b2e39 !important;
	color: #ffffff !important;
}

/* Remove highlight on bookmark toolbar separator hover */
#browser.theme-light .bookmark-bar button:hover:not([title]),
#browser.theme-dark .bookmark-bar button:hover:not([title]) {
	background: none !important;
	border-color: transparent !important;
}

/* Fix folder icon color on hover/active states */
#browser.theme-light .bookmark-bar button:hover svg.folder-icon {
	fill: #f0f0f0 !important;
}

#browser.theme-dark .bookmark-bar button:hover svg.folder-icon {
	fill: #596071 !important;
	stroke: #ffffff !important;
}

#browser.theme-light .bookmark-bar button:active svg.folder-icon {
	fill: rgba(246, 246, 246, 0.25) !important;
	stroke: rgb(246, 246, 246) !important;
}

#browser.theme-dark .bookmark-bar button:active svg.folder-icon {
	fill: rgba(246, 246, 246, 0.25) !important;
	stroke: rgb(246, 246, 246) !important;
}

/* Fix icon color in active addressbar buttons */
.toolbar-addressbar .button-toolbar:active svg,
.toolbar-mailbar .button-toolbar:active svg {
	fill: white !important;
}

/* Fix icon/text alignment on bookmark toolbar buttons */
.bookmark-bar button img, .bookmark-bar button svg {
	margin: 4px 0 7px;
}

.bookmark-bar button img + span, .bookmark-bar button svg + span {
	margin-bottom: 0px;
}

.bookmark-bar button img + span:empty, .bookmark-bar button svg + span:empty {
	margin-left: 0;
}

/* Hidden extension button background (when expanded) */
.extensions-wrapper .actionVisibility-hidden {
	background-color: transparent !important;
}

.toolbar-addressbar .button-toolbar.browserAction-button.popup-visible {
	background-color: transparent !important;
}

/* Extension button badges */
.extensions-wrapper .button-badge {
	background-color: rgb(120, 120, 120) !important;
}

/***********************************************************************
 START PAGE
***********************************************************************/
/* Start page background */
.startpage {
	background-color: var(--colorBg) !important;
}

/* Start page toolbar */
.startpage-navigation {
	background-color: var(--colorBg) !important;
	min-height: 34px !important;
	box-shadow: none !important;
	border-bottom: 1px solid #d4d5db;
}

.theme-dark .startpage-navigation {
	border-bottom: 1px solid #262a33;
}

/* Remove left border in speed dial navigation */
.startpage .startpage-navigation .startpage-navigation-group:last-of-type {
	border-left: none !important;
}

/* Navigation button */
button.button-startpage:hover {
	background-color: var(--colorBgLighter);
	border-color: var(--colorBorderHighlight);
}

button.button-startpage:focus:not([tabindex='-1']) {
	background-color: transparent;
}

/* Remove gradient on active navigation button */
button.button-startpage:after {
	background: none !important
};
